.hero {
  max-width: 350px;

  .hero__title {
    margin-bottom: 0.5em;
  }

  .hero__content {
    font-size: 1.125rem;
    margin-bottom: 1em;
    color: hsl(var(--clr-neutral-050) / 0.8);
  }

  .hero__source {
    color: hsl(var(--clr-neutral-200) / 0.8);
    img {
      display: inline-block;
      margin-left: 5px;
    }
    a {
      text-decoration: underline;
      font-weight: var(--fw-bold);
    }
    margin-bottom: 1.5em;
  }

  .hero__button {
    font-size: 0.75rem;
    padding: 12px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2.57px;
    background-color: hsl(var(--clr-neutral-900));
    color: hsl(var(--clr-neutral-050));
    border: 1px solid hsl(var(--clr-neutral-200) / 0.8);
    text-align: left;
    margin-bottom: 1rem;

    &:hover {
      cursor: pointer;
    }
  }

  .hero__button.active {
    background: red;
  }

  .hero__number-list {
    font-family: var(--ff-main);
    font-size: 1rem;
    font-weight: var(--fw-bold);
    margin-inline: 1.75rem;
    color: hsl(var(--clr-neutral-050) / 0.5);
  }

  @media (min-width: 600px) and (max-width:1000px) {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    max-width: 900px;
    width: 100%;
    gap: 3rem;

    .hero__content {
      max-width: 70ch;
      flex-shrink: 2;
    }

    .hero__button-container {
      width: 80%;
      flex-shrink: 0.9;
    }
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 10vh;

    .hero__title {
      font-size: 2.5rem;
    }

    .hero__content {
      font-size: 0.875rem;
    }

    .hero__source {
      font-size: 1rem;
    }

    .hero__button-container {
      display: none;
    }
  }
}

#mercury {
  background-color: hsl(var(--clr-accent-lightblue));
  color: hsl(var(--clr-neutral-050));
}

#venus {
  background-color: hsl(var(--clr-accent-yellow));
  color: hsl(var(--clr-neutral-050));
}

#earth {
  background-color: hsl(var(--clr-accent-purple));
  color: hsl(var(--clr-neutral-050));
}

#mars {
  background-color: hsl(var(--clr-accent-red));
  color: hsl(var(--clr-neutral-050));
}

#jupiter {
  background-color: hsl(var(--clr-accent-brique));
  color: hsl(var(--clr-neutral-050));
}

#saturn {
  background-color: hsl(var(--clr-accent-orange));
  color: hsl(var(--clr-neutral-050));
}

#uranus {
  background-color: hsl(var(--clr-accent-lightgreen));
  color: hsl(var(--clr-neutral-050));
}

#neptune {
  background-color: hsl(var(--clr-accent-darkblue));
  color: hsl(var(--clr-neutral-050));
}
