.hero__image {
  position: relative;
  max-width: 500px;
  height: auto;

  .hero__image-main {
    object-fit: contain;
    position: relative;
  }

  .hero__image-secondary {
    width: 163px;
    height: auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(10%);
  }
}
