.hero {
  max-width: 350px;

  .hero__title {
    margin-bottom: 0.5em;
  }

  .hero__content {
    font-size: 1.125rem;
    margin-bottom: 1em;
    color: hsl(var(--clr-neutral-050) / 0.8);
  }

  .hero__source {
    color: hsl(var(--clr-neutral-200) / 0.8);
    img {
      display: inline-block;
      margin-left: 5px;
    }
    a {
      text-decoration: underline;
      font-weight: var(--fw-bold);
    }
    margin-bottom: 1.5em;
  }

  .hero__button {
    font-size: 0.75rem;
    padding: 12px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2.57px;
    background-color: hsl(var(--clr-neutral-900));
    color: hsl(var(--clr-neutral-050));
    border: 1px solid hsl(var(--clr-neutral-200) / 0.8);
    text-align: left;
    margin-bottom: 1rem;
  }

  .hero__number-list {
    font-family: var(--ff-main);
    font-size: 1rem;
    font-weight: var(--fw-bold);
    margin-inline: 1.75rem;
    color: hsl(var(--clr-neutral-050) / 0.5);
  }
}
