:root {
  --clr-neutral-050: 0 0% 100%;
  --clr-neutral-200: 240 6% 54%;
  --clr-neutral-500: 240 17% 26%;
  --clr-neutral-900: 240 67% 8%;

  --clr-accent-lightblue: 194 48% 49%;
  /* --clr-accent-darkblue: 222 87% 56%; */
  --clr-accent-yellow: 33 82% 61%;
  --clr-accent-brique: 10 63% 51%;
  --clr-accent-red: 2 68% 53%;
  --clr-accent-orange: 17 73% 46%;
  --clr-accent-purple: 263 67% 51%;
  --clr-accent-lightgreen: 169 73% 44%;

  --ff-header: "Antonio", sans-serif;
  --ff-main: "League Spartan", sans-serif;

  --fw-bold: 800;
}

/* GENERAL STYLING */

body {
  background: hsl(var(--clr-neutral-900)) url("/public/background-stars.svg")
    center;
  font-family: var(--ff-main);
  font-size: 16px;
  color: hsl(var(--clr-neutral-050));
}

h1 {
  font-family: var(--ff-header);
  font-size: 5rem;
  text-transform: uppercase;
}

h2 {
  font-family: var(--ff-header);
  font-size: 3.25rem;
  text-transform: uppercase;
  letter-spacing: -1.5px;
}

h3 {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}

h4 {
  font-size: 0.6875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* UTILITY CLASSES */
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
