.information {
  justify-content: space-between;
  gap: 1.875rem;

  .information__card {
    /* max-width: 255px; */
    border: 1px solid hsl(var(--clr-neutral-200));
    padding: 1.25rem;
    flex: 1;
    margin-block: 4rem;

    h3 {
      color: hsl(var(--clr-neutral-050) / 0.5);
      margin-bottom: 0.5em;

    }
  }
  @media (min-width: 600px) and (max-width:1000px) {
    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 0.5rem;
    }
  }
}
