.header {
  align-items: center;
  justify-content: space-between;
  padding: 1.375rem 2rem;
  border-bottom: 1px solid hsl(var(--clr-neutral-200) / 0.7);

  .header__menu {
    gap: 2.0625rem;
    color: hsl(var(--clr-neutral-050) / 0.8);

    &:hover {
      cursor: pointer;
    }
  }
  margin-bottom: 10rem;
}
