.header {
  align-items: center;
  justify-content: space-between;
  padding: 1.375rem 2rem;
  border-bottom: 1px solid hsl(var(--clr-neutral-200) / 0.5);

  .header__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    font-size: 1.75rem;
  }

  .header__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2.0625rem;
    color: hsl(var(--clr-neutral-050) / 0.8);
    h4 {
      font-size: 1rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
  margin-bottom: 10rem;

  @media (min-width: 600px) and (max-width: 1000px) {
    flex-flow: column wrap;
    gap: 1.5rem;

    .header__menu {
      gap: 1rem;
      h4 {
        font-size: 11px;
      }
    }
  }

  @media (max-width: 600px) {
    .header__menu {
      display: none;
    }
    margin: 0;
    justify-content: space-between;
  }
}

.mobile-only {
  &:hover {
    cursor: pointer;
  }

  @media screen and (min-width: 600px) {
    display: none;
  }
}

.burger__menu-container {
  width: 100svw;
  min-height: fit-content;
  background: hsl(var(--clr-neutral-900));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .burger__header {
    justify-content: space-between;
    align-items: center;
    padding: 1.375rem 2rem;
    border-bottom: 1px solid hsl(var(--clr-neutral-200) / 0.5);
    margin-bottom: 2.75rem;
  }

  .burger__planet-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-inline: 2rem;
    padding-block: 1.25rem;
    border-bottom: 1px solid hsl(var(--clr-neutral-200) / 0.5);
    img {
      margin-left: auto;
    }

    h4 {
      font-size: 1rem;
    }
  }
}

#Mercury {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: hsl(var(--clr-accent-lightblue));
}

#Venus {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: hsl(var(--clr-accent-yellow));
  color: hsl(var(--clr-neutral-050));
}

#Earth {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: hsl(var(--clr-accent-purple));
  color: hsl(var(--clr-neutral-050));
}

#Mars {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: hsl(var(--clr-accent-red));
  color: hsl(var(--clr-neutral-050));
}

#Jupiter {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: hsl(var(--clr-accent-brique));
  color: hsl(var(--clr-neutral-050));
}

#Saturn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: hsl(var(--clr-accent-orange));
  color: hsl(var(--clr-neutral-050));
}

#Uranus {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: hsl(var(--clr-accent-lightgreen));
  color: hsl(var(--clr-neutral-050));
}

#Neptune {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: hsl(var(--clr-accent-darkblue));
  color: hsl(var(--clr-neutral-050));
}
