.header {
  align-items: center;
  justify-content: space-between;
  padding: 1.375rem 2rem;
  border-bottom: 1px solid hsl(var(--clr-neutral-200) / 0.7);

  h2 {
    font-size: 1.75rem;
  }

  .header__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2.0625rem;
    color: hsl(var(--clr-neutral-050) / 0.8);
    h4 {
      font-size: 1rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
  margin-bottom: 10rem;

  @media (600px <= width <= 1000px) {
    flex-flow: column wrap;
    gap: 1.5rem;
    
    .header__menu {
      gap: 1rem;
      h4 {
        font-size: 11px;
      }
    }
  }
}
